@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #E8E8E8;
}

.col {
  margin: 1vmax;
}

.btn {
  font-size: 2vmax;
}

h1 {
  font-size: 6vmax;
  margin-bottom: 2vh;
}

.container, .panel-body, .second {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.panel-body {
  padding: 1vmax;
  font-size: 1.5vmax;
  left: 20%;
}

#desktopClock{
overflow:hidden;
}

#main > div > div > label {
  font-size: 1.5vmax;
}

.second {
  left: 70%;
}

.clock{
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size:20vmax;
}

#secondClock{
  left:75%;
}
#firstClock{
  left:25%;
}

#main > div.panel-body > button.btn.btn-outline-primary, #main > div.panel-body > button.btn.btn-primary{
  font-size:1.5vmax;
}
.noselect{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#pause{
  width: 8vw;
    position: absolute;
    top: 88%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#stop{
  width: 6vw;
    position: absolute;
    top: 88%;
    left: 66%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#restart{
  width: 7.5vw;
    position: absolute;
    top: 88%;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#restart2{
  width: 7.5vw;
    position: fixed;
    top: 90%;
    left: 6%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#home{
  width: 7.5vw;
    position: fixed;
    top: 90%;
    left: 16%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#name1Game,#name2Game,#firstClock,#secondClock{
  transition: 1s;
}
#name1Game{
  color:grey;
  position: absolute;
    top: 22%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 7vmax;
}
#name2Game{
  color:grey;
  position: absolute;
    top: 22%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 7vmax;
}
#show1{
  position: absolute;
    top: 10%;
    left: 25%;
    font-size: 4vmax;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#show2{
  position: absolute;
    top: 10%;
    left: 75%;
    font-size: 4vmax;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#timeEnd2{
  position: absolute;
    top: 20%;
    left: 75%;
    font-size: 4vmax;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#timeEnd1{
  position: absolute;
    top: 20%;
    left: 25%;
    font-size: 4vmax;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
